#set_io PLL_output 23
set_io clk 20

set_io dout[0] 31
set_io dout[1] 37
set_io dout[2] 34
set_io dout[3] 43
set_io dout[4] 36
set_io dout[5] 42
set_io dout[6] 38
set_io dout[7] 28

set_io sda 2
set_io scl 46

#set_io HSYNC 2
#set_io VSYNC 46
